# macOS
.DS_Store
**/.DS_Store

# Python
__pycache__/
**/__pycache__/
*.py[cod]
*.pyc
*.egg-info/
/build/
dist/

# Virtual Environment
.venv

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Jupyter
.ipynb_checkpoints/

# Docs
docs/build/doctrees/
